<% provide(:title, 'All users') %>
<h1>All users</h1>

<span>filter : </span>
<%= form_for :search, url: {action: :search, controller: :users} do |f| %>
  Gender: <%= f.select :gender, [["All", 2], ["Male", 0], ["Female", 1]] %><br />
  <%= f.submit %>
<% end %>


<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user %>
      <%= user.gender %>
    </li>
  <% end %>
</ul>
<%= will_paginate @users %>
<br>

<%= link_to 'New User', new_user_path %>
