<footer class="footer">
  <small>
    <%= t(".context1") %> <a href="https://railstutorial.jp/"><%= t(".context2") %></a>
    <%= t(".context3") %> <a href="https://www.michaelhartl.com/"><%= t(".context4") %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"),   '#' %></li>
      <li><%= link_to t(".contact"), '#' %></li>
      <li><a href="https://news.railstutorial.org/"><%= t(".news") %></a></li>
    </ul>
  </nav>
</footer>